


<div id="box" class="container">
  <h2>{{name}}</h2>
  <div class="jumbotron">
    <h1>Insert Private Key</h1>
    <form action="">
        <input type="text" name="key" id="" placeholder="Enter Private Key">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>      
  </div>


<div class="footer">
  <p>Decentralized KYC System</p>
</div>