<script>
  sessionStorage.clear();
</script>
{{> nav }}
<div id="box" class="container">
  <h2>{{name}}</h2>
  <div class="jumbotron">
    <h1>Insert Private Key</h1>
    <form>
        <input type="text" name="key" id="priv_key" placeholder="Enter Private Key">
        <button class="btn btn-primary" onclick="loginClient(event)">Submit</button>
    </form>      
  </div>
{{> footer }}
  <script src="/javascripts/client.js"></script>