<script>
  sessionStorage.clear();
</script>
{{> nav }}
<div id="box" class="container">
  <div class="jumbotron">
    <h1>Decentralised Identity System</h1>      
    <p>The place were your data is safe !!</p>
  </div>
{{> footer }}


