<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <script src="/javascripts/jquery.js"></script>
      {{{body}}}
    <!-- Optional JavaScript -->
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/user.js"></script>
    {{!-- <script src="/javascripts/client.js"></script> --}}
    {{!-- <script src="/javascripts/admin.js"></script> --}}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</body>
</html>