<link rel="stylesheet" href="/stylesheets/user.css">
{{> inav }}
<div id="box" class="container">
    <h2>{{name}}</h2>
    <div class="jumbotron">
        <button class="btn btn-primary" id="viewData" data-toggle="modal" data-target="#decryptKey">View Data</button>
        <button class="btn btn-primary" id="change" data-toggle="modal" data-target="#changeKey">Change Enc key</button>
        <button class="btn btn-primary disabled">Add or Edit Data </button>
        </form>
    </div>

    {{> footer }}
    <div class="modal fade" id="changeKey" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change Encryption Key</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <br>
                        Old Encryption Key : <input type="password" id="oldKey"><br>
                        New Encryption Key: <input type="password" id="newKey"><br>
                        <button id="decrypt" data-dismiss="modal" data-toggle="modal" onclick="updateEncKey(event)"
                            class="btn-danger">Change Enc key</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="decryptKey" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enter the Decryption Key</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        Decryption Key : <input type="password" name="deKey" id="deKey">
                        <button id="decrypt" data-dismiss="modal" data-toggle="modal" onclick="getUserData(event)"
                            class="btn-danger">Decrypt Data</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="moreData" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Name : </label>
                            <h6 id="name"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Email : </label>
                            <h6 id="email"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Date of Birth : </label>
                            <h6 id="dob"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Address : </label>
                            <h6 id="address"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Mobile : </label>
                            <h6 id="mobile"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Pincode : </label>
                            <h6 id="pincode"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Aadhar : </label>
                            <h6 id="aadhar"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Voter : </label>
                            <h6 id="voter"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Status : </label>
                            <h6 id="status"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Public Key : </label>
                            <h6 id="pub_key"></h6>
                        </div>
                        {{!-- Name : <p id="name"></p>
                        Email : <p id="email"></p>
                        Date of Birth : <p id="dob"></p>
                        Address : <p id="address"></p>
                        Mobile : <p id="mobile"></p>
                        Pincode : <p id="pincode"></p>
                        Aadhar Id : <p id="aadhar"></p>
                        Public Key : <p id="pub_key"></p> --}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/user.js"></script>