body{
    background-color: rgb(19, 17, 17);
    color: black;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
  }
  #box{
      margin-top: 200px;
  }

